:root{ /*Creamos variables para los colores*/
    --primary-color: #f3e37c;
    --primary-color-dark: #f3d34a;
    --secondary-color: #fcf5c7;
    --secondary-color-dark: #adf7b6;
    --gray-color: #ccc;
    --gray-color-dark:#333;
}

*{
    margin: 0; /*reseteamos para que el navegador no nos poga ninguno por defecto*/
    padding: 0; /*reseteamos para que el navegador no nos poga ninguno por defecto*/
    box-sizing: border-box; 
    font-family: "Open Sans", sans-serif; /* Tipografía de letra de toda la página */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#upload-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-input {
    margin-bottom: 20px;
}

#upload-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#upload-btn:hover {
    background-color: #0056b3;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar-fill {
    height: 100%;
    background-color: #007bff;
}

#upload-status {
    margin-top: 10px;
    font-weight: bold;
}